import tweepy
import matplotlib.pyplot as plt
from  textblob import TextBlob 
import time
import tweepy
dir(tweepy)
auth=tweepy.OAuthHandler(consumer_key,consumer_sec)
auth.set_access_token(access_token,access_token_sec)
api_connect=tweepy.API(auth)
name=input("Enter name  ")
tweet_data=api_connect.search(name,count='100')
tweet_data

pos=0
neg=0
neu=0

# printing line by line
for tweet in tweet_data:
   #print(tweet.text)
   analysis=TextBlob(tweet.text) # here it will apply NLP\
   #print(analysis.sentiment)
   # now checking polarity only
   if analysis.sentiment.polarity > 0:
     # print("postive")
      pos=pos+1
   elif analysis.sentiment.polarity == 0 :
    #  print("Neutral")
      neu=neu+1
   else :
    #  print("Negative")
      neg=neg+1
      
# ploting graphs
plt.title(name)
plt.xlabel("tags")
plt.ylabel("polarity")
#plt.bar(['pos','neg','neu'],[pos,neg,neu])
plt.pie([pos,neg,neu],labels=['pos','neg','neu'],autopct="%1.1f%%")
plt.show()
plt.bar(range(0,3),[pos,neg,neu],tick_label=['pos','neg','neu'])
plt.show()
